{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    
{% endblock %}

{% block content %}

<div class="row d-flex">
  <div class="col-2">
    <div class="vertical-menu">
      <a href="#">Home</a>
      {{ macro.displaySources(source)}}
    </div>
  </div>
  
  <div class="justify-content-center col-lg-9 col-md-9 col-sm-9 headlines ">
    
      <h3 class="text-center"> Top Headlines</h3>
          {{ macro.displayNewsList(popular)}}
  
  </div>
</div>



{% endblock%}